body {
    font-family: sans-serif;
    /* Remove o flexbox */
display: flex; 
justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0; /* Adiciona margem zero ao body */
}

.container {
width: 300px;
    background-color: #cccccc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    display: none;
    margin-top: 20px;
}